In [1]:
import pandas as pd
import numpy as np


from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import *
init_notebook_mode(connected=True)

In [2]:
download_list = {
    2009: "https://health.data.ny.gov/resource/s8d9-z734.csv",
    2010: "https://health.data.ny.gov/resource/dpew-wqcg.csv",
    2011: "https://health.data.ny.gov/resource/n5y9-zanf.csv",
    2012: "https://health.data.ny.gov/resource/rv8x-4fm3.csv",
    2013: "https://health.data.ny.gov/resource/tdf6-7fpk.csv",
    2014: "https://health.data.ny.gov/resource/pzzw-8zdv.csv",
    2015: "https://health.data.ny.gov/resource/p3tf-wrj8.csv",
    2016: "https://health.data.ny.gov/resource/y93g-4rqn.csv"
}

In [3]:
raw_data = pd.DataFrame()
for year, download_url in download_list.items():
    df = pd.read_csv(download_url)
    df["year"] = year
    raw_data = raw_data.append(df)

In [4]:
raw_data.head()

,abortion_edit_indicator,age,age_group,apr_drg_code,apr_drg_description,apr_drg_description_and_code,apr_mdc_code,apr_mdc_description,apr_medical_surgical_description,apr_risk_of_mortality,...,same_day_discharge_indicator,sex,source_of_payment_1,source_of_payment_2,source_of_payment_3,total_charges,total_costs,type_of_admission,year,zip_code_3_digits
0,N,NaN,0 to 17,640.0,"NEONATE BIRTHWT >2499G, NORMAL NEWBORN OR NEON...",NaN,15,Newborns and Other Neonates with Conditions Or...,Medical,Minor,...,NaN,NaN,Insurance Company,Self-Pay,NaN,4141.43,1685.18,Newborn,2009,NaN
1,N,NaN,0 to 17,133.0,PULMONARY EDEMA & RESPIRATORY FAILURE,NaN,4,Diseases and Disorders of the Respiratory System,Medical,Major,...,NaN,NaN,Insurance Company,Self-Pay,NaN,49254.47,17394.94,Emergency,2009,NaN
2,N,NaN,0 to 17,640.0,"NEONATE BIRTHWT >2499G, NORMAL NEWBORN OR NEON...",NaN,15,Newborns and Other Neonates with Conditions Or...,Medical,Minor,...,NaN,NaN,Blue Cross,Self-Pay,NaN,4049.97,1818.44,Newborn,2009,NaN
3,N,NaN,0 to 17,640.0,"NEONATE BIRTHWT >2499G, NORMAL NEWBORN OR NEON...",NaN,15,Newborns and Other Neonates with Conditions Or...,Medical,Minor,...,NaN,NaN,Blue Cross,NaN,NaN,1410.34,1024.48,Newborn,2009,NaN
4,N,NaN,0 to 17,53.0,SEIZURE,NaN,1,Diseases and Disorders of the Nervous System,Medical,Minor,...,NaN,NaN,Self-Pay,NaN,NaN,13697.82,3238.19,Emergency,2009,NaN

In [5]:
raw_data.describe()

,apr_drg_code,apr_drg_description_and_code,apr_mdc_code,apr_severity_of_illness,apr_severity_of_illness_code,attending_provider_license_numbe,attending_provider_license_number,birth_weight,ccs_diagnosis_code,ccs_procedure_code,discharge_year,facility_id,operating_certificate_number,operating_provider_license_numbe,operating_provider_license_number,other_provider_license_number,permanent_facility_id,total_charges,total_costs,year
count,7000.000000,1000.000000,8000.000000,1000.000000,7000.000000,1.998000e+03,5.993000e+03,8000.000000,8000.000000,8000.000000,8000.000000,4993.000000,7.991000e+03,1.480000e+03,3.689000e+03,6.160000e+02,2998.000000,8.000000e+03,8000.000000,8000.000000
mean,445.341000,384.826000,10.831875,1.847000,1.810286,1.179128e+06,5.804305e+06,543.587500,175.614875,98.701875,2012.500000,657.148408,3.505428e+06,1.381313e+06,5.467365e+06,6.554345e+06,820.944630,2.168172e+04,8952.161842,2012.500000
std,227.592185,222.292226,5.523715,0.902444,0.858969,8.019240e+06,2.092816e+07,1236.264504,123.946625,88.563975,2.291431,695.083035,3.041981e+06,8.942560e+06,1.915655e+07,2.062048e+07,719.291622,4.925791e+04,16658.452122,2.291431
min,2.000000,42.000000,1.000000,1.000000,1.000000,1.885000e+03,2.882000e+03,0.000000,2.000000,0.000000,2009.000000,1.000000,1.010000e+05,3.139000e+03,2.735000e+03,2.690000e+03,1.000000,1.000000e-02,0.000000,2009.000000
25%,225.000000,194.000000,5.000000,1.000000,1.000000,1.848500e+05,1.738750e+05,0.000000,118.000000,0.000000,2010.750000,39.000000,2.280000e+05,1.774658e+05,1.804270e+05,1.893380e+05,39.000000,5.324562e+03,2578.607500,2010.750000
50%,540.000000,347.000000,13.000000,2.000000,2.000000,2.153340e+05,2.137200e+05,0.000000,181.000000,115.000000,2012.500000,461.000000,2.908000e+06,2.123740e+05,2.149550e+05,2.187270e+05,924.000000,1.055697e+04,4914.135000,2012.500000
75%,640.000000,560.000000,15.000000,2.000000,2.000000,2.372620e+05,2.471010e+05,0.000000,218.000000,168.000000,2014.250000,1438.000000,7.002017e+06,2.355055e+05,2.471010e+05,2.429628e+05,1458.000000,2.192265e+04,9339.365000,2014.250000
max,952.000000,952.000000,25.000000,4.000000,4.000000,9.042058e+07,9.060162e+07,7900.000000,670.000000,999.000000,2016.000000,9431.000000,7.004010e+06,9.042058e+07,9.060162e+07,9.051776e+07,9059.000000,2.368967e+06,585265.840000,2016.000000

In [6]:
drg_count_by_year = pd.DataFrame(raw_data.groupby(by=["year", "apr_drg_description"])["apr_drg_description"].count())
drg_total_cost_by_year = pd.DataFrame(raw_data.groupby(by=["year", "apr_drg_description"])["total_costs"].sum())
drg_avg_cost_by_year = pd.DataFrame(raw_data.groupby(by=["year", "apr_drg_description"])["total_costs"].mean())
drg_total_charge_by_year = pd.DataFrame(raw_data.groupby(by=["year", "apr_drg_description"])["total_charges"].sum())
drg_avg_charge_by_year = pd.DataFrame(raw_data.groupby(by=["year", "apr_drg_description"])["total_charges"].mean())